.button.pressed { -fx-background-color: ghostwhite; }

.button
{
    -fx-text-fill: black;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button.undo { -fx-background-image: url(undo.png); }
.button.redo { -fx-background-image: url(redo.png); }
.button.cut { -fx-background-image: url(cut.png); }
.button.copy { -fx-background-image: url(copy.png); }
.button.paste { -fx-background-image: url(paste.png); }
.button.bold { -fx-background-image: url(bold.png); }
.button.italic { -fx-background-image: url(italic.png); }
.button.save { -fx-background-image: url(save.png); }
.button.open { -fx-background-image: url(open.png); }
.button.label { -fx-text-fill: black; }


.bg { -fx-background-color: black; }

.shape
{
    -fx-arc-height: 15;
    -fx-arc-width: 15;

    -fx-stroke-width: 3;
    -fx-stroke: gray;
}

.text
{
    -fx-font-size: 16pt;
    -fx-font-family: monospace;
    -fx-fill: white;
    -fx-text-alignment: right;
}