.ccbutton.pressed:pressed {
    -fx-background-color: linear-gradient( to bottom, rgba(100, 100, 100), rgba(160, 160, 160)) ;
}

.ccbutton.pressed {
    -fx-background-color: linear-gradient( to bottom, rgba(120, 120, 120), rgba(180, 180, 180)) ;
}

.ccbutton:hover .highlight {
    -fx-background-color: rgba(255, 255, 255, .4);
}

.panel
{
    -fx-background-color: linear-gradient( to bottom, rgba(160, 160, 160), rgba(100, 100, 100)) ;
    -fx-background-image: url(CoarseGrid.png);
    /*-fx-border-color: rgb(150, 150, 150), rgb(240, 240, 240), rgb(150, 150, 150);
    -fx-border-insets: 2px, 1px, 0px;
    -fx-border-width: 1px 0px 0px 0px;
    -fx-border-style: solid;*/
}
.ccbutton
{
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, .6), 20, 0, 0, 0);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: linear-gradient( to bottom, rgba(220, 220, 220), rgba(160, 160, 160)) ;
    -fx-background-radius: 10px;
    -fx-border-color: rgb(150, 150, 150), rgb(240, 240, 240), rgb(150, 150, 150);
    -fx-border-insets: 2px, 1px, 0px;
    -fx-border-width: 1px;
    -fx-border-radius: 6px, 8px, 10px;
    -fx-border-style: solid;
    -fx-font-weight: bold;
}

.tblButton:hover {
	-fx-background-color: linear-gradient( to bottom, rgba(160, 160, 160), rgba(80, 80, 80));
	-fx-background-image: url(CoarseGrid.png);
	-fx-effect: innershadow(gaussian, white, 5, 0, 0, 0); 
}

.tblButton:hover .highlight {
	-fx-background-color: rgba(255,255,255,.2);
}

.tblButton.pressed {
	-fx-background-color: linear-gradient( to top, rgba(140, 140, 140), rgba(100, 100, 100)) ;
	-fx-background-image: url(CoarseGrid.png);
	-fx-effect: innershadow(gaussian, white, 5, 0, 0, 0); 
}

.tblButton.pressed .highlight{
	-fx-background-color: rgba(255,255,255,.2);
}

.Toolbar
{
	-fx-background-color: linear-gradient( to bottom, rgba(160, 160, 160), rgba(100, 100, 100)) ;
	-fx-background-image: url(CoarseGrid.png);
}

.ccbutton.undo .back { -fx-background-image: url(undo.png); }
.ccbutton.redo .back { -fx-background-image: url(redo.png); }
.ccbutton.save .back { -fx-background-image: url(save.png); }
.ccbutton.open .back { -fx-background-image: url(open.png); }
.ccbutton.new .back { -fx-background-image: url(new.png); }
.ccbutton.play .back { -fx-background-image: url(play.png); }
.ccbutton.pause .back { -fx-background-image: url(pause.png); }
.ccbutton.stop .back { -fx-background-image: url(stop.png); }

.bg { -fx-background-color: black; }

.shape
{
    -fx-arc-height: 15;
    -fx-arc-width: 15;

    -fx-stroke-width: 3;
    -fx-stroke: gray;
}

.chordNames
{
	-fx-fill: white;
}

/* Global Font settings */
.root
{
	-fx-font-size: 16pt;
    -fx-font-family: monospace;
    -fx-text-alignment: right;
}